<div class="row">
    <div class="span11 offset5">
        <div class="well well large">

<p>
   <h2>Posteado por @<%= @post.user.name %></h2>
  <h2><%= @post.title %></h2>
</p>

<p>

  <%= image_tag(@post.picture_url, :width => '70%') if @post.picture.present? %>
</p>

<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo
modal</a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
aria-hidden="true">×</button>
<h3 id="myModalLabel">Modal header</h3>
</div>
<div class="modal-body">
<p>One fine body...</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal"
aria-hidden="true">Close</button>
<button class="btn btn-primary">Save changes</button>
</div>
</div>


<% if current_user == @post.user %>

<p>
<%= link_to 'Editar', edit_post_path(@post), :class => 'btn btn-info' %> 
<%= link_to 'Borrar', @post, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-info' %> 
</p>

<% end %>
<%= link_to 'Volver', posts_path, :class => 'btn btn-info' %>
</div>
    </div>
</div>
    



